.fujiBg {
  background-image: url(https://images.unsplash.com/photo-1509023464722-18d996393ca8?q=80&w=3000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  min-height: 55dvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -125px;
}


.dominetext {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.textshadow {
  text-shadow: 1px 1px black;
}

.smokebg {
  background-color: whitesmoke;
}

.mapbg {
  background-image: url(sc.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40dvh;
  background-position: center;
}

.cardSpill {
  position: absolute;
  top: 556px;
  right: 10px;
}

.maxSize {
  max-height: 1rem;
}




@media screen AND (max-width: 767.98px) {

  .cardSpill {
    position: static;
  }
}